@model List<TaskTracker.Models.Entities.Task>

@{
    var todos = Model.Where(task => !task.Complete).ToList();
    var done = Model.Where(task => task.Complete).ToList();
}


<div class="container">
    <div class="row justify-content-center">

        <div class="col-12 col-md-6">
            <h1 class="text-center">To Do:</h1>
            
                 @foreach (var task in todos) 
                {
                    <div class="card shadow-sm my-3 p-3">
                        <div class="card-title bg-light rounded-3 border border-1 border-secondary">
                            <h6 class="text-center display-6">@task.Title</h6>
                        </div>
                        <div class="card-body">
                            <p>@task.Description</p>
                            <div class="card-footer">
                                <div class="row justify-content-between">
                                    <div class="col-12 col-md-6">
                                        <p>Created @task.CreatedDate</p>
                                        <p>Due @task.DueDate</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <a class="btn btn-warning" asp-controller="Tasks" asp-action="Edit" asp-route-id="@task.Id">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
        </div>

        <div class="col-12 col-md-6">
            <h1 class="text-center">Done:</h1>
                @foreach (var task in done)
                {
                    <div class="card shadow-sm my-3 p-3">
                        <div class="card-title bg-light rounded-3 border border-1 border-secondary">
                            <h6 class="text-center display-6">@task.Title</h6>
                        </div>
                        <div class="card-body">
                            <p>@task.Description</p>
                            <div class="card-footer">
                                <div class="row justify-content-between">
                                    <div class="col-12 col-md-6">
                                        <p>Created @task.CreatedDate</p>
                                        <p>Due @task.DueDate</p>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <a class="btn btn-warning" asp-controller="Tasks" asp-action="Edit" asp-route-id="@task.Id">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
        </div>

    </div>
</div>